.photography {
  border-radius: 16px;
  margin: auto;
}
.year-guess-slider {
  height: 140px;
  width: 100%;
}
.year-guess-track {
  background : rgb(221, 221, 221);
  height: 16px;
  border-radius: 50px;
}
.thumb {
  background-color: #7d67ff;
  border: 8px solid #ebe9f5;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  top : -8px
}
.years-marks {
  top : 40px;
  text-align: center;
  color: rgb(221, 221, 221);
  font-weight: 600;
  font-size: 1.2em;
}
.milestone {
  margin: auto;
  position: absolute;
  height: 24px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 4px;
  top : 20px;
  border-radius: 4px;
  background:  rgb(221, 221, 221);
}
