.photography {
  border-radius: 16px;
  margin: auto;
}
.year-guess-slider {
  height: 140px;
  width: 100%;
}
.year-guess-track {
  background : #DCDCE4;
  height: 8px;
  border-radius: 4px;
}
.thumb {
  border: 2px solid #EFEDFA;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  top : -8px
}
.landmark {
  border: 2px solid #EFEDFA;
  border-radius: 8px;
  height: 24px;
  width: 8px;
  top : -8px
}
.green{
  background: #72DB76;
}
.yellow{
  background: #F9D75F;
}
.red{
  background: #FF8383;
}
.default{
  background: #8473EF;
}

.years-marks {
  top : 24px;
  text-align: center;
  color: rgb(221, 221, 221);
  width: 24px;
}
.year-label {
  position: absolute;
  font-weight: 600;
  font-size: 1.2em;
  top : 28px;
  left : 12px;
  left: 50%;
  transform: translate(-50%, 0);
}
.milestone {
  position: absolute;
  height: 24px;
  width: 4px;
  left: 10px;
  border-radius: 4px;
  background:  rgb(221, 221, 221);
}
